#root {
/*    max-width: 2400px;*/
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

button:focus {
    border: none;
}


/*tr:nth-child(even) {
    background: #F2F2F2;
}

tr:nth-child(odd) {
    background: #FFF;
}

th, td {
    padding-right: 1rem;    padding-left: 1rem;

}*/